$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower



nav{
    img{
    width: 15%;
  }
}


$font-stack:    Helvetica, sans-serif;
$primary-color: black;

body {
  font: 100% $font-stack;
  background: $primary-color;
}
